/* Color variables */
:root {
  --main-bg-color: #eaeaea;
  --main-text-color: #333;
  --branding-color: #f87000;
  --branding-color-hover: #ca5b00;
}

html.ds-html {
  background: var(--main-bg-color);
  color: var(--main-text-color);
}

@media(max-width:740px) {
  html.ds-html {
    background: none;
  }
}

body clover-data-app.clover-data-app .header .logo {
  flex: 1;
  position: relative;
  margin: 0 0 0 20px;
  min-width: 200px;
  height: 43px;
  background: url("images/logo.png") no-repeat left;
  background-size: contain;
  align-self: center;
}

body clover-data-app.clover-data-app .page-wrapper--login .header .logo {
  margin: 0;
}

body clover-data-app.clover-data-app .page-wrapper {
  border-radius: 10px;
}

@media(max-width:740px) {
  body clover-data-app.clover-data-app .page-wrapper {
    border-radius: 0;
  }
}

/* Disabled original CloverDX logo */
body clover-data-app.clover-data-app .logo .cloverdx-brand {
  display: none;
}

body clover-data-app.clover-data-app .page-wrapper--login {
  margin: 50px auto 0;
}

@media(max-width:740px) {
  body clover-data-app.clover-data-app .page-wrapper--login {
    margin: 0;
  }
}

body clover-data-app.clover-data-app .header--login {
  position: relative;
  top: 0;
  height: 240px;
}

@media(max-width:740px) {
  body clover-data-app.clover-data-app .header--login {
    height: 160px;
  }
}

body clover-data-app.clover-data-app .header--login .logo {
  flex: 0 20rem;
  background-size: 100% auto;
}

/* Normalize main login header */
body clover-data-app.clover-data-app .header--login h1 {
  margin: 0;
  font-size: 26px;
  text-transform: uppercase;
}

body clover-data-app.clover-data-app .header {
  border-radius: inherit;
}

body clover-data-app.clover-data-app .header--login h1 span {
  font-weight: bold;
  margin-right: 0.8rem;
}

body clover-data-app.clover-data-app .header--login h1 strong {
  font-weight: bold;
  background: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  letter-spacing: initial;
}

body clover-data-app.clover-data-app .header--login h1 strong::after {
  display: none;
}

/* Login form */
body clover-data-app.clover-data-app .login {
  display: block;
  max-width: 360px;
  text-align: center;
  margin:0 auto 100px auto;
}

@media(max-width:740px) {
  body clover-data-app.clover-data-app .login {
    max-width: initial;
    margin-bottom: 100px;
  }
}

/* Hide default decorative illustration */
body clover-data-app.clover-data-app .login__deco {
  display: none;
}

/* Hide vertical separator */
/* between login form and illustration */
body clover-data-app.clover-data-app .login:after {
  display: none;
}

body clover-data-app.clover-data-app .content {
  padding-bottom: 2rem;
}

/* Anonymous login disabled */
#anonymous_login {
  display: none;
}

 /* Buttons */
body clover-data-app.clover-data-app .ds-btn,
body clover-data-app.clover-data-app .login__form button.ds-btn {
  width: initial;
  align-self: center;
  background: var(--branding-color);
  border: none;
}

body clover-data-app.clover-data-app .login__form button.ds-btn {
  padding: 14px 50px;
}

/* Buttons on hover */
body clover-data-app.clover-data-app .ds-btn:hover,
body clover-data-app.clover-data-app .login__form button.ds-btn:hover {
  background: var(--branding-color-hover);
}

/* Main navigation icons */
body clover-data-app.clover-data-app .nav ul li:hover span {
  background: var(--branding-color);
}

body clover-data-app.clover-data-app .nav ul li:hover a {
  background: var(--branding-color);
}

body clover-data-app.clover-data-app .nav ul li.nav__user:hover .nav__user-icon {
  background: var(--branding-color);
}

/* Menus */
body clover-data-app.clover-data-app .nav ul li ul.subnav {
  background: var(--branding-color);
}

/* Menu / User name */
body clover-data-app.clover-data-app .nav ul li.nav__user ul.subnav div.subnav__section li.nav__username span {
  background: var(--branding-color-hover);
}

/* Custom classes */
#footer {
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #eee;
  opacity: 0.6;
  font-size: 12px;
  background: #f9f9f9;
  border-radius: inherit;
}